.myGoodFd {
    background:white;
    #tableArea {
        overflow: scroll;
    }
    table {
        min-width: 500px;
    }
}

.inviTable {
    background:white;
    #tableArea {
        overflow: scroll;
    }
    table {
        min-width: 500px;
    }
}