.invitationModal {
    @extend %customModalScss;
    background-image: linear-gradient(90deg, rgb(139, 94, 161) 10%, rgb(151, 110, 171) 26%, rgb(162, 126, 180) 59%, rgb(171, 146, 183) 100%);
    background-image: -moz-linear-gradient(90deg, rgb(139, 94, 161) 10%, rgb(151, 110, 171) 26%, rgb(162, 126, 180) 59%, rgb(171, 146, 183) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(139, 94, 161) 10%, rgb(151, 110, 171) 26%, rgb(162, 126, 180) 59%, rgb(171, 146, 183) 100%);
    overflow: scroll;
    .content {
        .card-img {
            width: 80px;
        }
        .confirmModal {
            background-image: linear-gradient(90deg, rgb(139, 94, 161) 10%, rgb(151, 110, 171) 26%, rgb(162, 126, 180) 59%, rgb(171, 146, 183) 100%);
            background-image: -moz-linear-gradient(90deg, rgb(139, 94, 161) 10%, rgb(151, 110, 171) 26%, rgb(162, 126, 180) 59%, rgb(171, 146, 183) 100%);
            background-image: -webkit-linear-gradient(90deg, rgb(139, 94, 161) 10%, rgb(151, 110, 171) 26%, rgb(162, 126, 180) 59%, rgb(171, 146, 183) 100%);
            color: white;
        }
        canvas{
            height: 300px;
            width: 290px;
        }
    }
}