.userRuleModal {
    @extend %customModalScss;
    overflow: scroll;
    height: 100vh;
    .content {
        margin-top:10px;
        .del {
            width: 25px;
            margin-top: 0px;
            margin: initial;
        }
        overflow: scroll;
        height: 100vh;
        background: white;
        color: black;
        img {
            width: 70%;
            margin: auto;
            display: block;
            margin-top: 70%;
        }
    }
    hr{
    border-top: 3px double #2f81d4!important;
    }
        
        .tab-content{
          border: 1px solid #2f81d4;
          padding:40px;
        }
        
        .detail {
          padding: 15px;
        }
        
        h3{
          text-align:center;
        }
        
        thead {
          background-color: #283966;
          color: white;
          width:100%; 
          border:3px solid #283966;
        }
        
        thead p{
          text-align:center;
          padding-top: 8px;  
        }
        
        table tbody td {
          width: 50%!important;
          border: 1px solid #283966;
        }
        
        
        .nav{
          margin:0px!important;
        }
        
    .nav-tabs {
        border-bottom: 5px solid #1571cd!important;
        li {
            padding: 10px;
        }
    }
        
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
    {
        -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
        -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
        box-shadow:inset 0px 1px 0px 0px #97c4fe;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
        background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
        background-color:#3d94f6;
        border:1px solid #337fed;
        display:inline-block;
        cursor:pointer;
        color:#ffffff!important;
        text-decoration:none;
        text-shadow:0px 1px 0px #1570cd;
    }
        
    .nav a:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
        background-color:#f6f6f6;
    }
}