.subMenu {
   @extend %general-width;
   @include flexBox(row);
   @include flexAlign(baseline, center);
   background: white;
   .item {
       width: 25%;
       padding-top: 0px;
       font-size: 16px;
       @extend %contractShopBg;
       height: 175px;
       text-align: center;
       font-weight: bold;
       color: #e84441;
       cursor:pointer;
       position: relative;
       @include customMax(500px) {
            height: 100px;
        }
       img {
            @include customMax(500px) {
                width: 50px;
                margin-top: 5px;
            }
       }
       .notified_untrade {
           color: white;
           background: red;
           @include borderRadius(50%);
           width: 25px;
           height: 25px;
           display: block;
           position: absolute;
           right: 0;
       }
   }
   .active {
    @extend %contractShopSubNav;
    color: white;
   }
}